@model CoreMVC.Models.Registeration

@{
    ViewData["Title"] = "GetProfile";
}

<h1>GetProfile</h1>

<div>
    <h4>Registeration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locations)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Update", new { id = Model.Id }) |  
    @Html.ActionLink("Delete", "DeleteCustomerById", new { id = Model.Id })
</div>
